/*
  Major Sixth Modular Scale:
  http://www.modularscale.com/?22&px&1.667&web&text
*/

html {
  font-size: 1.375em; /* 22px */
  line-height: 1.182em; /* ~26px */
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(70, 70, 70);
}

h1{
  background-color: rgb(255, 226, 60);
  padding: 1em 0 1em 0; /* 44px*/
  font-size: 2em; /* 44px */
  text-align: center;
  width: 100%;
}

#email, #name, #birthday {
  border: none;
  width: 100%;
  padding: 1em 0 1em 0; /* 22px 0 22px 0*/
  background-color: rgb(192, 190, 190);
}

#signup {
   width: 100%;
   font-size: 1em; /* 22px */
   padding: 0.75em; /* 16.5px */
   background-color: rgb(255, 226, 60);
}
