/*
  Major Sixth Modular Scale:
  http://www.modularscale.com/?22&px&1.667&web&text
*/

html {
  font-size: 1.375em; /* 22px */
  line-height: 1.182em; /* ~26px */
  font-family: 'Roboto', 'Courier New', Courier, monospace;
  background-color: rgb(173, 220, 252);
}

#heading {
  background-color: rgb(255, 252, 65);
  line-height: 1em; /* ~22px */
  padding: 0.8em 0 0.8em 0; /* 17.6px*/
  font-size: 2.5em; /* 55px */
  text-align: center;
  width: 100%;
  font-weight: bold;
}

#heading p {
  font-size: 0.4em; /* 8.8px */
}

#email, #name, #birthday {
  border: none;
  width: 95%;
  padding: 1em 0 1em 0em; /* 22px 0 22px 0*/
  background-color: rgb(255, 255, 255);
  color:rgb(70, 70, 70);
  text-indent: 0.5em; /* 11px */
  margin-left: 0.5em; /* 11px */
}

div {
  text-indent: 0.5em; /* 11px */
  padding-top: 0.5em; /* 11px */
}
::placeholder {
  color:rgb(70, 70, 70);
}

#signup {
   width: 100%;
   font-size: 2em; /* ~30px */
   padding: 0.8em; /* 13.2px */
   background-color: rgb(255, 252, 65);
   border: 2px solid black;
   margin-top: 0.5em; /* 11px */
}

.centerText {
  text-align: center;
}

label {
  font-size: 1.2em; /* ~26px */
}

#agreement-input {
  width: 95%;
  margin: 0 auto;
}

@media screen and (min-width: 600px){
  html{
    background-color: rgb(218, 255, 255);
  }

  form {
    background-color: rgb(173, 220, 252);
    width: 70%;
    margin: 1em auto; /* 22px */
    border: 1px solid black;
    padding: 1em; /* 22px */
    box-shadow: 10px 10px 5px rgb(95, 95, 95);
  }

  #heading{
    border: 1px solid black;
  }

  #signup {
    width: 80%;
    display: block;
    margin: 0.5em auto; /* 11px */
  }

  label {
    font-size: 1em; /* 22px */
  }
}

@media screen and (min-width: 992px){
  form {
    width: 700px;
  }
}
